name: Dart Cached (faster)

on:
  push:
    branches: [ "main" , "test" , "aloealez" , "aloealez-actions-test" ]
  pull_request:
    branches: [ "main" , "test" , "aloealez" , "aloealez-actions-test" ]

env:
  flutter_version: "3.24.3"
  java_version: "17.x"

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4.2.0
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.java_version }}
          
      - name: Cache Flutter dependencies
        uses: actions/cache@v1
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.OS }}-flutter-install-cache-${{ env.flutter_version }}
          
      - uses: subosito/flutter-action@v2.14.0
        with:
          flutter-version: ${{ env.flutter_version }}
          
      - name: Install dependencies
        run: flutter pub get

      # ??
      - name: Cache android sdk
        uses: actions/cache@v1
        with:
          path: /usr/local/lib/android/sdk
          key: ${{ runner.OS }}-android-sdk-cache-${{ env.flutter_version }}
        
      - name: Debug Build
        run: flutter build apk --debug

      - name: Upload build apk
        uses: actions/upload-artifact@v4.4.0
        with:
          name: Debug-apk-cached
          path: build/app/outputs/flutter-apk/app-debug.apk
